<nav class="navbar navbar-expand  navbar-light bg-light">
        <ul class="navbar-nav" >
            <li>
                <b>
                        Current Viewers: {{ans}}
                </b>
            </li>
            
        </ul>
        <ul class="navbar-nav ml-auto">
            
            <li class="topic">
                <b>
                    A murder Day
                </b>
                            
            </li> 
               
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <b>
                    Total Viewers:  {{tans}}
                </b>
            </li>
        </ul>     
        
           
    </nav>
    <h5>
        Story
    </h5>
